/* Container holding the image and the text */
.meme-container {
    position: relative;
    text-align: center;
    color: white;
    width: max-content;
    overflow: hidden;
  }

/* Centered text */
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Text style from https://codepen.io/MetalEscape/pen/WrYxVM */
.meme-text {
    font-family: impact;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.navbar {
    position: sticky; 
    top: 0
}

.index-search {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-preview {
    display: inline-block;
    margin: 2px 1px;
}

.container {
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}