/* Container holding the image and the text */
.meme-container {
    position: relative;
    text-align: center;
    color: white;
    width: max-content;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/* Centered text */
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meme-image {
    width: 100%;
    max-width: 100%;
}

/* Text style from https://codepen.io/MetalEscape/pen/WrYxVM */
.meme-text {
    font-family: impact;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.sticky-navbar {
    position: sticky; 
    width: 100%;
    top: 0;
}

.index-search {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-preview {
    display: inline-block;
    margin: 2px 1px;
}

/* Content of the page */
.container {
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.container .left-column {
    display: flex;
    width: 70%;
    float: left;
    justify-content: center
}

.container .right-column {
    display: flex;
    width: 30%;
    float: right;
    text-align: left !important;
}

.meme-edit-panel {
    margin-top: 50px;
    margin-left:10px;
}

/* Navbar brand text */
.navbar-text {
    color: white !important
  }

  .navbar-form {
      margin-left:10px
  }