/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    width: max-content;
    overflow: hidden;
  }

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Text style from https://codepen.io/MetalEscape/pen/WrYxVM */
.meme-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: impact;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}